[Desktop Entry]
Type=Application
Exec=/opt/1Password/1password --silent
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=1Password
Name=/opt/1Password/1password
Comment[en_US]=
Comment=
