[Desktop Entry]
Type=Application
Exec=/usr/bin/qbittorrent
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=qBittorrent
Name=qBittorrent
Comment[en_US]=qBittorrent
Comment=qBittorrent
